.icon-caret(@size) {
    position: absolute;
    right: 8px;
    top: 50%;
    margin-top: -0.5 * @size;

    width: 0;
    height: 0;
    border-width: @size;
    border-style: solid;
    border-color: @caret-color transparent transparent;
}

.icon-caret-active(@size) {
    margin-top: -1.5 * @size;
    border-color: transparent transparent @caret-color;
}


.icon-checkbox {
    background-color: #FFF;
    border: 1px solid #999;

    display: inline-block;
    width: 13px;
    height: 13px;

    .box-sizing(border-box);
}
.icon-checkbox-hover {
    border-color: #000;
}
.icon-checkbox-selected {
    background: #FFF url(icon.png) no-repeat;
}


.icon-sort {
    background: url(icon.png) no-repeat 100% -11px;
}
.icon-sort-asc {
    background-position: 100% -32px;
}
.icon-sort-desc {
    background-position: 100% -53px;
}