.@{ui-class-prefix}-combobox {

    .ui-common;

    display: inline-block;
    position: relative;
    vertical-align: bottom;

    .@{ui-class-prefix}-button {
        text-align: left;
        padding-right: @combobox-button-caret-size + 2 * @button-padding-h;
        .text-overflow;

        .i-caret {
            .icon-caret(@combobox-button-caret-size);
        }
        &[selected] .i-caret {
            .icon-caret-active(@combobox-button-caret-size);
        }
    }

    .@{ui-class-prefix}-list {

        background-color: @combobox-list-bgcolor;
        border: @combobox-list-border-width
                @combobox-list-border-style
                @combobox-list-border-color;
        font-size: @combobox-list-font-size;
        padding: @combobox-list-padding-v
                 @combobox-list-padding-h;

        min-width: 100%;
        position: absolute;
        left: 0;
        top: @combobox-list-top;
        z-index: @layer-z-index;

        .box-shadow(@combobox-list-box-shadow);
    }

    .@{ui-class-prefix}-list-item {

        border-top: @combobox-list-item-border-width
                    @combobox-list-item-border-style
                    @combobox-list-item-border-color;

        padding: @combobox-list-item-padding-v
                 @combobox-list-item-padding-h;
                 
        white-space: nowrap;

        &:hover:not([selected]) {
            background-color: @combobox-list-item-hover-bgcolor;
            color: @combobox-list-item-hover-color;
        }

        &[selected] {
            background-color: @combobox-list-item-selected-bgcolor;
            color: @combobox-list-item-selected-color;
            font-weight: normal;
        }
    }
}



