.@{ui-class-prefix}-dialog {

    .ui-common;

    background-color: @dialog-bgcolor;

    width: @dialog-width;
    position: absolute;

    .border-top-radius(@dialog-border-top-radius);
    .border-bottom-radius(@dialog-border-bottom-radius);
    .box-shadow(@dialog-box-shadow);

    &[draggable] {
        .@{ui-class-prefix}-dialog-header {
            cursor: @cursor-draggable;
        }
    }
}

.@{ui-class-prefix}-dialog-header {
    border-bottom: @dialog-header-border-bottom;
    background-color: @dialog-header-bgcolor;
    font-size: @font-size-base;
    padding: @dialog-header-padding;
    position: relative;

    .border-top-radius(@dialog-border-top-radius);
}

.@{ui-class-prefix}-dialog-title {
    color: @dialog-title-color;
    font-size: @dialog-title-font-size;
    font-weight: @dialog-title-font-weight;
    font-family: @font-family-serif;

    margin: 0;
    padding: 0;
}

.@{ui-class-prefix}-dialog-body {
    padding: @dialog-body-padding;
}

.@{ui-class-prefix}-dialog-close {
    font-style: normal;
    font-weight: bold;
    font-size: @dialog-close-font-size;
    color: @dialog-close-color;

    position: absolute;
    top: @dialog-close-top;
    right: @dialog-close-right;
    cursor: @cursor-clickable;
}

.@{ui-class-prefix}-dialog-footer {

    background-color: @dialog-footer-bgcolor;
    border-top: @dialog-footer-border-top;

    text-align: @dialog-footer-align;
    padding: @dialog-footer-padding;

    .border-bottom-radius(@dialog-border-bottom-radius);

    .@{ui-class-prefix}-button {
        margin-left: @dialog-footer-button-space;

        &:first-child {
            margin-left: 0;
        }
    }
}