.@{ui-class-prefix}-dialog {

    .ui-common;

    background-color: @dialog-bgcolor;

    width: @dialog-width;
    position: absolute;

    .border-top-radius(@dialog-border-top-radius);
    .border-bottom-radius(@dialog-border-bottom-radius);
    .box-shadow(@dialog-box-shadow);

    &[draggable] {
        .@{ui-class-prefix}-dialog-header {
            cursor: @cursor-draggable;
        }
    }
}

.@{ui-class-prefix}-dialog-header {
    border-bottom: @dialog-header-border-bottom;
    background: @dialog-header-bg;
    position: relative;
    padding: @dialog-header-padding-v
             @dialog-header-padding-h;

    .border-top-radius(@dialog-border-top-radius);
}

.@{ui-class-prefix}-dialog-title {
    color: @dialog-title-color;
    font-size: @dialog-title-font-size;
    font-weight: @dialog-title-font-weight;

    margin: 0;
    padding: 0;
}

.@{ui-class-prefix}-dialog-body {
    padding: @dialog-body-padding;
}

.@{ui-class-prefix}-dialog-close {
    background-color: @dialog-close-bgcolor;
    font-style: normal;
    font-weight: @dialog-close-font-weight;
    font-size: @dialog-close-font-size;
    color: @dialog-close-color;

    width: @dialog-close-width;
    height: @dialog-close-height;
    line-height: @dialog-close-height;
    text-align: center;

    position: absolute;
    top: @dialog-close-top;
    right: @dialog-close-right;
    cursor: @cursor-clickable;

    .border-radius(@dialog-close-border-radius);
    .box-shadow(@dialog-close-box-shadow);

    &:hover {
        background-color: @dialog-close-hover-bgcolor;
    }
}

.@{ui-class-prefix}-dialog-footer {

    background-color: @dialog-footer-bgcolor;
    border-top: @dialog-footer-border-top;

    text-align: @dialog-footer-align;
    padding: @dialog-footer-padding;

    .border-bottom-radius(@dialog-border-bottom-radius);
    .box-shadow(@dialog-footer-box-shadow);

    .@{ui-class-prefix}-button {
        margin-left: @dialog-footer-button-space;

        &:first-child {
            margin-left: 0;
        }
    }
}