.@{ui-class-prefix}-list {

    .ui-common;

    border: @list-border-width
            @list-border-style
            @list-border-color;

    background-color: @list-bgcolor;

    display: block;
    padding: @list-padding;
    overflow-x: hidden;
    overflow-y: auto;

    .border-radius(@list-border-radius);

    &[overflow] .@{ui-class-prefix}-list-item {
        .text-overflow;
    }
}

.@{ui-class-prefix}-list-group-header {
    border-top: @list-group-header-border-width
                @list-group-header-border-style
                @list-group-header-border-color;
    background-color: @list-group-header-bgcolor;
    color: @list-group-header-color;
    font-size: @list-group-header-font-size;
    font-weight: @list-group-header-font-weight;
    padding: @list-group-header-padding-v
             @list-group-header-padding-h;
}
.@{ui-class-prefix}-list-item {

    border-top: @list-item-border-width
                @list-item-border-style
                @list-item-border-color;

    color: @list-item-color;
    padding: @list-item-padding-v
             @list-item-padding-h;

    .box-sizing(border-box);
    .box-shadow(@list-item-box-shadow);

    &:hover {
        background-color: @list-item-hover-bgcolor;
        color: @list-item-hover-color;
    }
    &:first-child {
        border-top: none;
    }
}

.@{ui-class-prefix}-list-group-header,
.@{ui-class-prefix}-list-item {
    cursor: @cursor-clickable;
    display: block;
}

.@{ui-class-prefix}-list-item-selected,
.@{ui-class-prefix}-list-item-selected:hover {
    background-color: @list-item-selected-bgcolor;
    color: @list-item-selected-color;
    font-weight: @list-item-selected-font-weight;
}