.@{ui-class-prefix}-pager {

    .ui-common;
    .user-select;

    ul {
        display: inline-block;
        font-size: 0;
        margin: 0;
        padding: 0;
        list-style: none;
    }
}

.@{ui-class-prefix}-pager-item,
.@{ui-class-prefix}-pager-omit {
    display: inline-block;
    font-size: @font-size-base;
}

.@{ui-class-prefix}-pager-item {
    border: @pager-item-border-width
            @pager-item-border-style
            @pager-item-border-color;
    
    margin-left: @pager-item-space;
    padding: @pager-item-padding;

    .border-radius(@pager-item-border-radius);
    
    &:first-child {
        margin-left: 0;
    }

    &:not([selected]):not([disabled]) {
        color: @pager-item-color;
        cursor: @cursor-clickable;
        font-weight: @pager-item-font-weight;

        .box-shadow(@pager-item-box-shadow);
        .gradient-vertical(
            @pager-item-start-bgcolor,
            @pager-item-end-bgcolor
        );
    }

    &:hover:not([selected]):not([disabled]) {
        border-color: @pager-item-hover-border-color;
    }

    &[selected] {
        border-color: @pager-item-selected-border-color;
        color: @pager-item-selected-color;
        cursor: @cursor-active;
        font-weight: @pager-item-selected-font-weight;

        .box-shadow(@pager-item-selected-box-shadow);
        .gradient-vertical(
            @pager-item-selected-start-bgcolor,
            @pager-item-selected-end-bgcolor
        );
    }

    &[disabled] {
        border-color: @pager-item-disabled-border-color;
        color: @pager-item-disabled-color;
        cursor: @cursor-disabled;

        .box-shadow(@pager-item-disabled-box-shadow);
        .gradient-vertical(
            @pager-item-disabled-start-bgcolor,
            @pager-item-disabled-end-bgcolor
        );
    }
}

.@{ui-class-prefix}-pager-omit {
    color: @pager-omit-color;
    margin: 0 @pager-omit-space;

    + .@{ui-class-prefix}-pager-item {
        margin-left: 0;
    }
}