.@{ui-class-prefix}-texteditor {

    .ui-common;

    border: @texteditor-border-width
            @texteditor-border-style
            @texteditor-border-color;

    font-size: @texteditor-font-size;
    line-height: @texteditor-line-height;

}

@import '../lib/codemirror/lib/codemirror.css';
