.@{ui-class-prefix}-tip-layer {
    .ui-common;

    background-color: @tip-layer-bgcolor;

    border: @tip-layer-border-width
            @tip-layer-border-style
            @tip-layer-border-color;

    padding: @tip-layer-padding;
    position: absolute;

    .border-radius(@tip-layer-border-radius);
    .box-shadow(@tip-layer-box-shadow);
}